* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-image: url("/dist/images/watercolor-background.jpg");
  display: grid;
}

main {
    margin: auto;
    display: flex;
    flex: 1;
    width: 60%;
    height: 80%;
    background-image: url('images/test.jpg');
    background-size: cover;
    justify-content: end;
}

div.info{
    display: flex;
    background-color: red;
    flex-direction: column;
    opacity: 0.9;
}
