* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-image: url("/dist/images/watercolor-background.jpg");
  display: grid;
}

main {
    margin: auto;
    display: flex;
    flex: 1;
    width: 60%;
    height: 80%;
    background-image: url('images/test.jpg');
    background-size: cover;
    justify-content: end;
}

div.info{
    text-align: left;
    display: flex;
    background-color: red;
    flex-direction: column;
    gap: 100px;
}

.recent-location > p{
line-height: 2rem;
}

button{

    background-color: #ef7901;
    border: 0;
    width: 100px;
    height: 100px;
}